# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Archives
*.zip

# Temporary files
*.tmp
*.log

# IDE files
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# OS / editor files
*.swp
*.swo
